{% include 'dashboard/cabecalho.html' %}

<h1 class="mb-4">Menu dos Exercícios</h1>

<div class="d-grid gap-3">

    <a href="/saudacao1/Guilherme" class="btn btn-primary">
        Exercício 1 - Saudação com parâmetro
    </a>

    <a href="/saudacao2/" class="btn btn-success">
        Exercício 2 - Saudação
    </a>

    <a href="/login" class="btn btn-warning">
        Exercício 3 - Login
    </a>

    <a href="/desafio" class="btn btn-danger">
        Desafio - Cadastro
    </a>

</div>

{% include 'dashboard/rodape.html' %}